/*Bethany Tinklenberg mad-libs css*/

body {
  width: 1366px;
  height: 768px;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

header em {
  font-family: 'Berkshire Swash', cursive;
  font-size: 70px;
  color: #A8D6DB;
  /* color: #ABDFE5; mint!! */
  /* color: #E5ABC8;  pink!! */
}

article {
  margin: auto;
  padding: 20px;
  width: 45%;
  background-color: #A8D6DB;
  border: solid 10px rgba(0,0,0,.3);

}

div {
  margin: 8px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: normal;
}

div em {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: normal;
}
