/*Bethany Tinklenberg Portal Page Stylesheet, DES 157, Winter 2018*/

body {
  max-height: 768px;
  background-color: initial;
}

header {
  text-align: center;
}

#branding {
  display: inline-block;
  padding: 16px;
}

#branding img {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

#branding h1 {
  display: block;
}

#mySketch {
  width: 800px;
  height: 250px;
  margin: 16px;
  background-color: black;
  float: right;
  display: inline;
}

#my-sketch:hover {
  background-color: #b682dd;
}

article {
  width: 80%;
  margin: auto;
}

article h1 {
  font-size: 35px;
}

article p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 25px;
  display: inline-block;
}

article h2 {
  font-size: 20px;
}

article a {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

article a:hover {
  font-family: 'Lora', serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

article img {
  margin: auto;
  padding: 20px;
  float: left;
  padding-top: 50px;
}

#brainstorm {
  float: left;
  display: inline;
  width: 45%;
  padding: 12px;
}

section {
  margin: 16px;
}

section nav {
  list-style-position: inside;
  padding-left: 30px;
}

section ol {
  font-family: 'Montserrat', sans-serif;
  list-style: initial;
  padding: 30px;
}

section ul {
  font-family: 'Montserrat', sans-serif;
  list-style: decimal;
  padding: 30px;
}

section li {
  text-align: left;
}

#studios {
  padding: 16px;
  margin: 16px;
  width: 44.4%;
  height: 250px;
  background-color: #C3D9F1;
  display: inline-block;
}

#studios:hover {
  background-color: #83D9DE;
}

#projects {
  padding: 16px;
  margin: 16px;
  width: 44.4%;
  height: 250px;
  background-color: #CFDCEC;
  display: inline-block;
}

#projects:hover {
  background-color: #d37cd2;
}

section a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

section a:hover {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

section h2 {
  text-align: center;
}

footer {
  clear: both;
  position: fixed;
  bottom: 0px;
  background-color: #D5D7D8;
  width: 100%;
  padding: 8px;
  text-align: center;
}

footer p {
  display: inline;
}

/*** typography ***/

h1, h2 {
  font-family: 'Lora', serif;
  letter-spacing: 2.5px;
  font-size: 25px;
}

a {
  font-family: 'Lora', serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
