/* interactive wireframe stylesheet */

body {
    background-color: #1E4361;
    background: linear-gradient(#2979B9, #1E4361) no-repeat;
}

#home {
  margin: auto;
  width: 80%;
}

#intro {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  color: white;
}

#begin {
  border-radius: 100px;
  border: 2.5px solid white;
  padding: 8px;
  margin: auto;
  text-align: center;
  width: 70px;
  margin-top: 15%;
}

.button a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}

header {
  background-color: #1E4361;
  padding: 8px;
}

#undo {
  display: inline;
  top: 10px;
  left: 10px;
}

#done {
  border-radius: 100px;
  border: 2.5px solid white;
  padding: 8px;
  text-align: center;
  width: 70px;
  display: inline;
  position: absolute;
  right: 0px;
}

footer {
  position: sticky;
  margin-top: 8%;
  bottom: 0px;
  left: 0px;
  padding: 10px;
}

footer a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}

#results {
  background-color: #1E4361;
  height: 600px;
  padding: 16px;
  margin: 0px;
  clear: both;
}

#menu {
  background-color: black;
  height: 220px;
  margin: 0px;
  clear: both;
}

#menu img {
  height: 150px;
  width: 150px;
  margin: 20px;
  display: inline-block;
  float: left;
}

ol {
  list-style: none;
  padding: 15px;
  margin: auto;
}

li {
  background-color: black;
}

#editor {
  height: 35%;
  clear: both;
  margin-top: 5%;
  margin-left: 10px;
}

#editor img {
  width: 30%;
  height: 350px;
  margin: 10px;
}

#send {
  display: block;
  position: fixed;
  bottom: 100px;
  left: 100px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 35%;
  margin-top: 25%;
}
