/* BETHANY TINKLENBERG CSS STUDIO 2*/

* {
  box-size: border-box;
}

body {
  padding: 20px;
  height: 1890px;
  background-color: white;
}

/****** main page content structure ******/

nav {
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  width: 70%;
  /* grid-template-columns: 20%; */
  /* grid-template-columns: [first] 1fr [line1] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [end]; */
  /* grid-template-rows: 128px; */
}

ul {
  margin: auto;
  padding: 0px;
}

li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}

/**** header ****/

header {
  padding: 0px;
  margin: auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 40px;
  margin: 20px;
  margin-bottom: 60px;
}

#shape {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 1;
}

#shape img {
  width: 580px;
}

#backpack {
  position: relative;
  margin: 0px;
  z-index: 2;
  padding: 0px;
}

#backpack img {
  margin: auto;
}

/***** page image content ******/

#bottle {
  position: fixed;
  left: 50%;
  top: 22%;
}

#bottle img {
  width: 250px;
}

#wallet {
}

#wallet img {
  position: fixed;
  left: 35%;
  top: 55%;
  width: 150px;
}

#iphone {
}

#iphone img {
  position: fixed;
  left: 18%;
  top: 25%;
  width: 150px;
}

/***** overlay *****/

#overlay {
  background-color: rgba(176,153,236,.75);
  display: none;
  position: relative;
  z-index: 3;
  margin-top: 30px;
  padding: 30px;
}

#bottleoverlay{
  display: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  z-index: 3;
}

#walletoverlay {
  display: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  z-index: 3;
}

#iphoneoverlay {
  display: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  z-index: 3;
}

#close {
  position: relative;
  z-index: 4;
  display: block;
}
/***** footer *****/

footer {
  position: fixed;
  bottom: 0px;
  clear: both;
}

footer #scroll {
  width: 20%;
  padding-right: 40px;
  margin-top: 20px;
  float: right;
}

footer a {
  list-style-type: none;
  display: inline;
}

footer a img {
  width: 15%;
  /* padding-bottom: 10px; */
}

/*** for larger moniter displays ***/

@media only screen and (min-width: 769px) {

  !body {
    height: 100vw;
    width: 100vw;
  }

  ul {
    float: left;
    display: inline;
  }
  /**** header ****/

  header {
    padding: 0px;
    width: inherit;
    margin: auto;
  }

  p {
    text-align: center;
    /* clear: both; */
    padding: 16px;
    margin: auto;
  }

  #shape {
    position: absolute;
    z-index: -1;
  }
  #shape img {
    width: 400px;
    margin: auto;
  }
  #backpack img {
    margin: auto;
    width: 65%;
  }

  /***** page image content ******/
  /* #bottle {
  } */

  #bottle img {
    width: 250px;
  }
  /* #wallet {
  } */
  #wallet img {
    width: 150px;
  }
  /* #iphone {
  } */
  #iphone img {
    width: 150px;
  }

  #overlay {
    background-color: rgba(176,153,236,.75);
    display: none;
    position: relative;
    z-index: 3;
    padding: 30px;
  }

  #bottleoverlay {
    text-align: center;
    color: black;
    display: none;
    font-size: 30px;
  }
  #walletoverlay {
    text-align: center;
    color: black;
    display: none;
  }
  #iphoneoverlay {
    text-align: center;
    color: black;
    display: none;
  }

  #close {
    position: relative;
    z-index: 4;
    display: block;
  }

  footer #scroll {
    clear: both;
    display: none;
  }
}
