/* interactive wireframe stylesheet */

body {
  background-color: lightgrey;
}

#home {
  margin: auto;
  width: 80%;
}

#intro {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}

#begin {
  border-radius: 5px;
  padding: 10px;
  margin-left: 35%;
  margin-top: 10%;
}

button a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

header {
  background-color: white;
  padding: 8px;
}

#undo {
  display: inline;
  top: 10px;
  left: 10px;
}

#done {
  display: inline;
  float: right;
  position: sticky;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  background: white;
}

#results {
  background-color: darkgrey;
  height: 600px;
  padding: 16px;
  margin: 0px;
  clear: both;
}

#menu {
  background-color: grey;
  height: 220px;
  margin: 0px;
  clear: both;
}

#menu img {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 15px;
  padding: 30px;
  display: inline-block;
  float: left;
}

ol {
  list-style: none;
  padding: 15px;
  margin: auto;
}

li {
  background-color: black;
}

#editor {
  background-color: lightgrey;
  height: 35%;
  clear: both;
  margin-top: 5%;
  margin-left: 10px;
}

#editor img {
  width: 30%;
  height: 350px;
  margin: 10px;
}

#send {
  display: block;
  position: fixed;
  bottom: 100px;
  left: 100px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 35%;
  margin-top: 25%;
}
