/* proto2 stylesheet */

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:hidden;
}
  .page {
  position: fixed;
  left: 0;
  top: 0;
  height: 110%; /* so background does not show with animation */
  width: 100%;
  text-align: center;
  font-size: 100vmin;
  color:#333;
  display:none;
}

/* Display the page when targeted */
.page:target {
  position: absolute;
  top:0px; /* works with or without top/left set, but best practice is to set values when using fixed or absolute positioning*/
  left:0px;
  display: block;
  animation-name: scrollup;
  animation-duration: 0.5s;
}

.button a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}

header {
  background-color: white;
  padding: 8px;
}

#undo {
  display: inline;
  top: 10px;
  left: 10px;
}

#done {
  border-radius: 100px;
  border: 2.5px solid black;
  padding: 8px;
  text-align: center;
  width: 70px;
  display: inline;
  position: absolute;
  right: 0px;
}

#done a {
  color: black;
}

#results {
  background-color: white;
  height: 600px;
  padding: 16px;
  margin: 0px;
  clear: both;
}

#pflower {
  display: block; /* first page shows */
  position: absolute;
  bottom: 0px;
}

#page2 {
  background-color:#87cac5;
}

#page3 {
  background-color:#8787ca;
}

#page4 {
  background-color:#ca87c8;
}

#page5 {
  background-color:#d7665e;
}

#menu {
  background-color: white;
  height: 220px;
  margin: 0px;
  clear: both;
}

#menu a {
  text-decoration: none;
  display: inline;
}

#menu img {
  height: 150px;
  width: 150px;
  margin: 20px;
  display: inline-block;
  float: left;
}

ol {
  list-style: none;
  padding: 15px;
  margin: auto;
}

li {
  background-color: white;
}

#flower {
  height: 35%;
  width: 80%;
  margin: auto;
}

#flower img {
  width: 30%;
  margin-top: 10%;
}

#flower a {
  margin: 10px;
}

section p {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 60px;
  margin-top: 5%;
  color: black;
}

#leaves {
  height: 35%;
  width: 70%;
  margin: auto;
}

#leaves img {
  width: 35%;
  margin-top: 30px;
}

#leaves a {
  margin: 50px;
}

#middle {
  height: 35%;
  width: 90%;
  margin: auto;
}

#middle img {
  width: 20%;
  margin-top: 10%;
}

#middle a {
  margin: 50px;
}
