/*intro page stylesheet*/

body {
  background-color: black;
}

#home {
  margin: auto;
  width: 80%;
}

#home p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0px;
  color: white;
}

.button a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#send {
  position: absolute;
  bottom: 100px;
  left: 40%;
  border-radius: 100px;
  border: 2.5px solid white;
  padding: 25px;
  margin: auto;
  text-align: center;
  margin-top: 15%;
  /*animation goes on this screen*/
}

#final {
  height: 1715px;
}
